# Core libraries
numpy
pandas
scikit-learn
matplotlib
seaborn
tensorflow
keras
xgboost 
beautifulsoup4
requests
flask
django
jupyterlab
notebook
streamlit
re
joblib
sklearn
lightgbm
plotly
math
sklearn
openai
nest_asyncio
asyncio
